
<section class="section contact" id="contact">
  <div class="contact__header" style="display:inline">

<h1>Thanks!</h1>
<h2>Are these details correct?</h2>
<br>

<br>


Name : Erce Kalabalikoglu <br>
Email : ercekalabalikoglu@gmail.com
<br><br>
Address:
<%= @user.addresses.last.house_number %>
<%= @user.addresses.last.house_name %> <br>
<%= @user.addresses.last.street_1 %>,
<%= @user.addresses.last.county %>
<br>
SE1 2QG
<br>
<br>
<br>
<%= link_to 'Edit', new_yodlee_path, :class => 'button' %>
<%= link_to "Yes, that's me!", new_yodlee_path, :class => 'button' %>
</div>


<div class="loader" style="display:none"></div>
